body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    height: 100vh;
    overflow: hidden;
}

.navbar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

#mainContent {
    margin-top: 60px; /* Navbar'ın altına içerik yerleştirmek için */
    padding: 20px;
    display: flex; /* Flexbox ile ortalama */
    justify-content: center; /* Yatay merkezleme */
    align-items: center; /* Dikey merkezleme */
    height: calc(100vh - 60px); /* Yüksekliği tam ekran yap, navbar yüksekliğini çıkar */
    text-align: center; /* Metni ortala */
    flex-direction: column; /* İçerikleri dikey sıralamak için */
}

.burger-menu {
    font-size: 24px;
    cursor: pointer;
    position: relative;
    z-index: 1001;
}

.home-button {
    font-size: 18px;
    cursor: pointer;
    padding: 0 15px;
    margin-left: 10px;
    text-align: center;
    background-color: #444;
    color: white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1001;
}

.home-button svg {
    width: 24px;
    height: 24px;
}

.home-button:hover {
    background-color: #555;
}

.not-baslik {
    font-size: 18px;
    text-align: center;
    flex-grow: 1;
}

.menu {
    background-color: #333;
    color: white;
    width: 200px;
    position: fixed;
    top: 52px; /* Menü navbar'ın altından başlar */
    bottom: 50px; /* Menü footer'ın üstünde biter */
    left: -200px;
    transition: left 0.3s ease;
    overflow-y: auto;
    z-index: 1000;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu ul li {
    padding: 10px 20px;
    cursor: pointer;
}

.menu ul li:hover {
    background-color: #575757;
}

#mainContent {
    margin-top: 60px; /* Navbar'ın altına içerik yerleştirmek için */
    padding: 20px;
    overflow-y: auto; /* İçerik çok uzun olduğunda kaydırılır */
    max-height: calc(100vh - 150px); /* Navbar ve footer arasında kalan alanı dinamik olarak hesapla */
    transition: transform 0.3s ease;
}

.menu.open {
    left: 0;
}

.menu.open + #mainContent {
    transform: translateX(200px);
}
/*
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
}
*/ 
